{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "strict": 0,
    "no-console": "warn",
    "quotes": [
      "warn",
      "single"
    ],
    "prettier/prettier": "warn",
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "indent": ["warn", 4]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["prettier", "jsx-a11y"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
